@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', serif;
}
:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}
.attribution {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}
.attribution a {
  color: var(--purple);
}
body {
  background-color: var(--off-white);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  width: 100%;
}
.container {
  background-color: var(--white);
  padding: 30px;
  border-radius: 15px 15px 40% 15px;
  width: 600px;

  margin: 20px auto;
}
label {
  color: var(--off-black);
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
}
input {
  width: 120px;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-grey);
}
input:focus {
  border: 1px solid var(--purple);
  cursor: pointer;
}
input::placeholder {
  color: var(--light-grey);
  font-weight: 700;
  font-size: 22px;
}
.box {
  display: flex;
  flex-direction: column;
}
.input-block {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.submit-block {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-around; */
  align-items: center;
}
hr {
  width: 100%;
  border: 1px solid var(--light-grey);
}
#submit {
  background-color: var(--purple);
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
#submit:hover {
  background-color: var(--off-black);
}
.output-data {
  font-size: 70px;
  font-weight: 800;
  font-style: italic;
  height: fit-content;
}
span {
  color: var(--purple);
}
.err {
  color: var(--light-red);
  font-size: 15px;
}
@media (max-width: 600px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 510px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 460px) {
  .container {
    width: 400px;
    padding: 16px;
  }
  .output-data {
    font-size: 60px;
    margin-top: 20px;
  }
  input {
    width: 100px;
  }
  body {
    padding: 30px;
  }
  .submit-block {
    position: relative;
    margin-top: 20px;
  }
  .input-block {
    margin-bottom: 25px;
  }
  #submit {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
  }
}

@media (max-width: 412px) {
  .container {
    width: 350px;
    padding: 12px;
    border-radius: 15px 15px 30% 15px;
  }
  .output-data {
    font-size: 50px;
  }
  input {
    width: 100px;
  }
  body {
    padding: 50px;
  }
}
